
#header-step {
  padding: 10px;
}

label {
  padding: 0px 30px;
}

input {
  box-shadow: 3px 3px 5px #747373;
}

#next-button {
  padding: 20px;
}

#back {
  width: 10ex;
}

#next {
  width: 10ex;
}

#row-content {
  width: 20%;
}
