
#header-step {
  padding: 10px;
}


label {
  padding: 0px 30px;
}

input {
  box-shadow: 3px 3px 5px #747373;
}

#next-button {
  padding: 20px;
}

#back {
  width: 10ex;
}

#next {
  width: 10ex;
}

#buttons-area {
  // float: right;
  display: flexbox;
  justify-content: space-between;
  // clear: both;
  right: 100%;
  left: 100%;
  // width: 33%;
  // margin: 0 auto;
}

#row-content {
  width: 30%;
  // justify-content: space-between;
}

#plus-button {
  width: 1%;
  // display: flex;
  // clear: both;
  float: right;
}
