
<div id="wizard-container" class="mx-auto">
  <div id="wizard-header">
    <span>Profile Wizard: </span>
  </div>
  <div id="wizard-progress">
    <ul class="align-center mx-auto">
      <li class="active nav navbar">
        <div class="btn btn-success">1 - Personal Details</div>
      </li>
      <li class="active nav navbar">
        <div class="btn btn-success">2 - Contact Details</div>

      </li>
      <li class="active nav navbar">
        <div class="btn btn-success">3 - Skills</div>
      </li>
      <li class="active nav navbar">
        <div class="btn btn-success">4 - Work Experience</div>
      </li>
    </ul>
  </div>
</div>

<div id="body" class="mx-auto">
  <div id='header-step'>
    <strong>Congratulations!</strong>
  </div>
  <div id="content">
    <div class="form-group row">
      <div class="mx-auto" id='row-content'>
        <label for="message">Your profile has been created successfully</label>
      </div>
    </div>
  </div>
</div>
